.reservation__content{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.reservation__content-form{
    background-color: #EDEFEE;
    margin: 3em;
padding: 2em;   
 border-radius: 16px;
    align-items: center;
    font-family: "Markazi Text";
    justify-content: center;
    display: flex;
    flex-wrap: wrap;


}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.select__occasion label{

    font-family: "Markazi Text";
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    color:grey;
}
label, select{
        margin: 10px;
        padding: 10px;
        font-family: "Markazi Text";
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 1.5em;
        color:grey;
        width: 30rem;

}



select{
    border-radius: 16px;
    border: none;
    height: 2.7em;
    align-items: center;
    justify-content: center;
}

input{
    border-radius: 16px;
    border: none;
    height: 2.6em;
    width: 30rem;
    font-weight: bold;
    font-size: 0.8em;
    color: grey;
    display: flex;
    font-family: "Markazi Text";
    padding-left: 1em;
    flex-wrap: nowrap;
}

input placeholder{
    font-weight: bold;
    font-size: 2em;
    /* color:grey;   */
    font-family: "Markazi Text";
    color: rgba(0, 0, 0, 0.1);  
}


.reservation__content button{
    font-size: 30px;
    width: 15em;
    height: 2em;
    font-weight: bolder;
    border-radius: 16px;
    font-family: "Markazi Text";
    align-self: center;
    justify-content: center;


}

.reservation__content button {
    
    width: 10em;
    height: 2em;
    font-weight: bold;
    border-radius: 16px;
    font-family: "Markazi Text";
    align-self: center;
}
.error {
    color: rgb(222, 3, 3);
    font-size: 1rem;
padding-top: 9px; 
font-weight: 400; }